<div id="fixed_header">
	<div id=header>
		<span class="header_logo">PH</span>
		<a href="#">HOME</a>
		<a href="#">ABOUT</a>
		<a href="#">PHOTOGRAPHY</a>
		<a href="#">WEB DESIGN</a>
		<a href="#">CONTACT</a>
	</div>
</div>