#container
  #center_column
    .logo_box
      %a{href: "/"}
        = image_tag "PHPlogo.png"
    #center_column_headng
    #navbar
      %a{href: "portfolio.html"} Photography
      / %a{href: "webdesign.html"} Web Design
    #page_title_container
      %h1#page_title patrick holloway
    #main_content
      .image_gallery
        = image_tag "_MG_0057.jpg"
      #INTRO.classy
        %h2 Welcome
        %p Patrick Holloway is a photographer and web devloper based in Lowell, MA. He is a rugged woodsman, a loving husband, and he loves him some good hip hop.
      #SERVS.classy.right
    #footer
      ©2014 Patrick Holloway Photography • Lowell MA 01852 • patrickjholloway@gmail.com
