#container
  #center_column
    .logo_box
      %a{href: "/"}
        = image_tag "PHPlogo.png"
    #center_column_headng
    #navbar
      %a{href: "/about"} ABOUT
      %a{href: "/portfolio"} PORTFOLIO
    #page_title_container
      %h1#page_title patrick holloway photography

    #main_content
      %h1 PORTFOLIO : :
      - @galleries.each do |gallery|
        .gallerylink
          %a{href: "#"}
            -if gallery.photos.any?
              = image_tag gallery.photos.first.image.url(:thumb)
          %h3= gallery.name
  #footer
    ©2012 Patrick Holloway Photography • Medford MA 02155 • 781.960.3127 • patrickjholloway@gmail.com
