@charset "UTF-8";
/* CSS Document */

@font-face {
    font-family: 'QuicksandBook';
    src: url('Quicksand_Book-webfont.eot');
    src: url('Quicksand_Book-webfont.eot?#iefix') format('embedded-opentype'),
         url('Quicksand_Book-webfont.woff') format('woff'),
         url('Quicksand_Book-webfont.ttf') format('truetype'),
         url('Quicksand_Book-webfont.svg#QuicksandBook') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ChunkFiveRegular';
    src: url('Chunkfive-webfont.eot');
    src: url('Chunkfive-webfont.eot?#iefix') format('embedded-opentype'),
         url('Chunkfive-webfont.woff') format('woff'),
         url('Chunkfive-webfont.ttf') format('truetype'),
         url('Chunkfive-webfont.svg#ChunkFiveRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.image_gallery img{
  width: 800px;
  padding: 12px;
  background-color: white;
}

.gallery img{
  width: 800px;
  float: left;
  clear: both;
  padding: 10px;
  margin-bottom: 10px;
  background: white;
}

a //removes underlined anchor tags from Opera
{
  text-decoration:none;
}

html, body, div { 
  margin: 0;
  padding: 0;
  border: 0 none;
  font-family: Century Gothic, 'QuicksandBook', sans-serif;
}

.logo_box
{
  margin: 0;
  padding: 0;
  width:100%;
  height:0px;
  //border: 1px solid black;
}

.logo_box img
{
  position:relative;
  left:0;
  top:30px;
}



.header_logo
{
  padding:0;
  margin-top:-4px;
  margin-right:15px;
  margin-left:15px;
  display:block;
  float:left;
  font-family: 'Paytone One', sans-serif;
  color:white;
  font-size:1.1em;
}


#page_title_container
{
  display:block;
  width:90%;
  float:right;
  margin:0px;
  //border: 1px solid black;
}


#page_title
{
  margin:0px;
  padding:0px;
  margin-right:50px;
  margin-top:20px;
  float:right;
  font-family:  'ChunkFiveRegular', serif;
  font-weight:400;
  font-size:27pt;
  //border: 1px solid black;
}

#main_content
{
  margin-left:90px;
  margin-top:20px;
  padding:0px;
  width:80%;
  float:left;
  height:950px;
  //background-color:#fff;
  //border: 1px solid black;
}

.classy h2
{
  margin-top:30px;
  font-family:  'Open Sans', sans-serif;
  font-weight:400;
  font-size:1em;
//  text-transform:lowercase;
  padding:0;
  margin-left:30px;
  margin-bottom:-20px;
}


.classy p
{
  font-family:  'Open Sans', sans-serif;
  font-size:.8em;
  font-weight:300;
  line-height:1.8em;
  margin-top:30px;
  padding-top:0px;
  margin-left:30px;
  margin-bottom:-20px;
  color:#000;
}

div.classy
{
  float:left;
}

.right p, h2
{
  
}

#INTRO
{
  width:400px;
}
#SERVS
{
  width:300px;
//  background:red;
}

.indent20
{
  text-indent:25px;
}


.main_photo
{
  position:absolute;
  top:0;
  left:0;
  display:block;
  width:100%;
  border:25px solid white;
  border-radius:1px;
  //border: 1px solid black;
}

.iconfb
{
  position:fixed;
  top:10px;
  right:122px;
  height:22px;
  width:22px;
  padding:0px;
  margin:0px;
  font-family: 'Cabin', sans-serif;
  margin-top:0px;
  margin-left:14px;
  padding-left:0px;
  //border-left: 1px solid black;
  display:inline;
  //border: 1px solid black;
}


.icon
{
  position:fixed;
  top:10px;
  right:152px;
  height:22px;
  width:22px;
  padding:0px;
  margin:0px;
  font-family: 'Cabin', sans-serif;
  margin-left:14px;
}

#navbar
{
  float:right;
  display:block;
  width:90%;
  margin:0px;
  padding:0px;
  margin-right:50px;
  //border: 1px solid black;
}

#submit{
  width:120px;
  margin-top:10px;
}

#navbar a
{
  float:right;
  font-family: Century Gothic, 'QuicksandBook', sans-serif;
  font-size:14pt;
  font-weight:normal;
  color:gray;
  padding-bottom:12px;
  padding-left:25px;
  padding-right:25px;
  margin-left:3px;
  border-bottom: 3px solid black;
  //border: 1px solid black;
  text-transform:uppercase;
}

#center_column
{
  width:960px;
  background-color:#DEE8ED;
  height:1020px;
  float:left;
  padding-right:30px;
  //border: 1px solid black;
}


#center_column_headng
{
  display:block;
  height:25px;
}


#container
{
  position:relative;
  overflow: hidden;
    width: 960px;
    margin: 55px auto;
    padding: 0px 0px 0px;
  background: #bbb;
  border: 1px solid #000;
  //border-top:0px;
  //border-bottom:0px;
  height:1045px;
}


body
{
  background-color:#666;
  //background-image:url(background.gif);
  //background-repeat:repeat;
  //background-size:300px 300px;
  //border: 1px solid black;
}

#gplus_button
{
  position:fixed;
  top:11px;
  right:25px;
}

#social_media p
{
  font-family: 'Allura', cursive;
  font-size:25pt;
  color:orangered;
  margin:0px;
  padding:0px;
  margin-top:20px;
  margin-left:20px;
  //border: 1px solid black;
}
  
#box
{
  height:200px;
  margin-top:5px;
}

.noshow img
{
  position:absolute;
  top: -9999px;
}

.faq li
{
  list-style:none;
  font-family: 'Cabin', sans-serif;
  font-size:26px;
  float:left;
  clear:both;
}

#contact_box label
{
  margin-top:5px;
  font-size:16px;
  float:left;
  margin-left:20px;
  z-index:5;
}

#contact_spacer
{
  z-index:1;
  width:526px;
  height:540px;
  margin-left:130px;
  background-color:white;
  border:1px solid #ddd;
  margin-top:2px;
  border-radius:2px;
  box-shadow:3px 5px 7px #888;
}

.contact_style
{
  background-color:#eee;
  font-family: 'Cabin', sans-serif;
  padding:10px;
  border-radius:0px;
  border: 1px solid #ddd;
  font-size: 20px;
  width:506px;
  clear:both;
  float:left;
  margin-left:130px;
  z-index:1;
  margin-bottom:10px;
  margin-top:2px;
}

#submit
{
  float:left;
  clear:both;
  margin-left:20px;
  z-index:5;
}

.title_style
{
  background-color:#eee;
  font-family: 'Cabin', sans-serif;
  padding:10px;
  border-radius:3px;
  border: 1px solid #ddd;
  font-size: 20px;
}

.text
{
  font-size: 20px;
  height:40px;
  width:428px;
  padding-left:10px;
  border-radius:5px;
  outline-color: #E2EAED;
  border: inset 2px;
  box-shadow: 0px 1px 1px #F3F4F6 inset;
  border: 1px solid #D2DADD;
}



.answer
{
  list-style:none;
  font-family: 'Cabin', sans-serif;
  font-size:19px;
  margin:20px;
  margin-left:60px;
  float:left;
  clear:both;}

#form
{
  font-family: 'Cabin', sans-serif;
  font-size:10pt;
  margin-left:20px;
}


.spacer
{
  position:fixed;
  top:40px;
  display:block;
  width:100%;
  margin-top: 0px;
  padding: 0px;
  height: 2px;
  background-color:#777;
  border-bottom: 2px solid black;
  z-index:19;
}

#fixed_header
{
  position:fixed;
  left:0;
  top:0;
  display:block;
  width:100%;
  height:40px;
  background-color:black;
  padding:0;
  margin:0;
  opacity: 0.8;
  z-index:19;
}

#footer
{
  position:absolute;
  background-color:#333;
  color:#bbb;
  padding-top:5px;
  clear:both;
  height:19px;
  width:960px;
  text-align:center;
  font-family: 'Cabin', sans-serif;
  font-size:12px;
  border-top:1px solid black;
  bottom:0px;
}

#header
{
  position:relative;
  display:block;
  width:970px;
  margin:12px auto;
  padding:0px;
  //border: 1px solid white;
}

#biopic img
{
  margin-left:25px;
  /*width:90px;*/
  height:90px;
  border-radius:2px;
}

img.clickable:hover
{
  box-shadow: 0px 0px 2px 2px orangered;
}

#boxy
{
  display:block;
  width:100px;
  height:100px;
}

#bio
{
  display:block;
  clear:both;
  width:100%;
  font-family: Century Gothic, 'QuicksandBook', sans-serif;
  padding-left:15px;
  padding-top:5px;
  font-size:10pt;
  color:black;
  margin-left:10px;
}

#header a
{
  font-family: Century Gothic, 'Quicksand', sans-serif;
  color:#aaa;
  font-size:.95em;
  padding:12px;
  margin:0;
}

#header a:hover
{
  color:white;
}

a:link
{
  padding:0px;
  text-decoration: none;
  color:black;
  //border: 1px solid black;
}

div.gallerylink
{
  float:left;
  margin-left:10px;
  margin-right:10px;
  margin-top:0px;
  margin-bottom:10px;
}

#galleries {
  h1 {
    font-size:1.4em;
    line-height:0px;
    margin-left: 15px;
    margin-bottom:20px;
    padding:0;
    color:black;
    font-weight:normal;
    font-family: Century Gothic, 'QuicksandBook', sans-serif;
    text-transform:uppercase;
  }
}

.gallerylink
{
  z-index:10;
  font-size:1em;
  font-weight:normal;
  opacity:.9;
  font-family: Century Gothic, 'QuicksandBook', sans-serif;
  text-transform:uppercase;
  width:360px;
  background-color:#AAD8F1;
  h3 {
    padding: 0;
    margin: 5px;
  }
}

.gallerylink img
{
  margin-top:0px;
  z-index:1;
  width:360px;
//  background-color:white;
//  padding:10px;
}

#gallery_wrapperX
{
  position:relative;
  width:768px;
  height:563px;
  padding-right:0px;
}

#FULL_GALLERY img
{
  width:202px;
}

#FULL_GALLERY
{
  float:left;
  margin-top:20px;
}

#galleries
{
  position:relative;
  float:left;
  clear:both;
  top:0;
  left:0;
}

#main_content_wide
{
  margin-left:90px;
  margin-top:20px;
  padding:0px;
  width:100%;
  float:left;
  height:950px;
  //background-color:#fff;
  //border: 1px solid black;
}

#test_close
{
  z-index:27;
  position:fixed;
  height:35px;
  top:30px;
  left:13%;
  display:none;
}

#test
{
  z-index:26;
  background-color:white;
  padding:20px;
  position:fixed;
  width:70%;
  max-width:900px;
  top:50px;
  left:13%;
  display:none;
  margin-left:20px;
}

#SHADOW
{
  top:0;
  left:0;
  position:fixed;
  width:2000px;
  height:2000px;
  background-color:black;
  opacity:.5;
  z-index:25;
  display:none;
}

img.webdesign
{
  margin-top:25px;
  box-shadow:3px 5px 7px #888;
  float:left;
}

div.webdescription
{
  margin-top:40px;
  width:300px;
  float:left;
  font-family: Century Gothic, 'QuicksandBook', sans-serif;
}

.webdescription h2
{
    margin-top:30px;
    font-family:  'Open Sans', sans-serif;
    font-weight:400;
    font-size:1em;
  //  text-transform:lowercase;
    padding:0;
    margin-left:30px;
    margin-bottom:-20px;
}

.webdescription p
{
  font-family:  'Open Sans', sans-serif;
  font-size:.8em;
  font-weight:300;
  line-height:1.8em;
  margin-top:30px;
  padding-top:0px;
  margin-left:30px;
  margin-bottom:-20px;
  color:#000;
}

a.link1:link {color:#287799 !important;}      /* unvisited link */
a.link1:visited {color:#359FCC !important;}  /* visited link */
a.link1:hover {color:#3CB3E6 !important;}  /* mouse over link */
a.link1:active {color:#287799 !important;}  /* selected link */

#loading
{
  font-family: Century Gothic, 'QuicksandBook', sans-serif;
}

#loadbox
{
  z-index:25;
  padding:20px;
  position:fixed;
  width:70%;
  max-width:900px;
  top:50px;
  left:13%;
  display:none;
  margin-left:20px;
  height:500px;
  background-color:#ddd;
}